* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cyan: hsl(167, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 100%, 100%);

  --font1: "Fraunces", serif;
  --font2: "Barlow", sans-serif;
}

body {
  font-family: var(--font2);
}

.container {
  padding: 80px 0;
  width: 90%;
  margin: 0 auto;
}

.header {
  background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__nav {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: none;
}

.nav__link {
  color: var(--white);
  text-decoration: none;
}

.nav__link--cta {
  color: var(--dark-blue);
  background-color: var(--white);
  padding: 0.7rem 1.5rem;
  border-radius: 20px;
}

.header__main {
  height: 450px;
  text-align: center;
  color: white;
}

.main__tittle {
  font-family: var(--font1);
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.main__arrow {
  display: inline-block;
  margin-top: 30px;
}

/* En los primeros 4 topics, se definen unos colores, y en los ultimos 4 otros (ver topic__job) */
.topics {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 300px 400px) repeat(2, 600px);
  --bold-text-color: var(--very-dark-desaturated-blue);
  --light-text-color: var(--dark-grayish-blue);
}

.topic__image {
  background-image: url("images/mobile/image-transform.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.topic__image--second {
  background-image: url("images/mobile/image-stand-out.jpg");
}

.topic__texts {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  place-self: center;
  align-items: center;
  text-align: center;
}

.topic__tittle {
  font-family: var(--font1);
  font-size: 2rem;
  font-weight: bold;
  color: var(--bold-text-color);
}

.topic__paragraph {
  color: var(--light-text-color);
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.topic__cta {
  width: fit-content;
  font-family: var(--font1);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--bold-text-color);
  position: relative;
}

.topic__cta::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: hsla(51, 100%, 49%, 0.267);
  border-radius: 5px;
}

.topic__cta--second::before {
  background-color: hsla(7, 99%, 70%, 0.267);
}

/* Modificamos para el contexto de job los colores definidos en topics */
.topic__job {
  background-image: url("images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  --bold-text-color: var(--dark-desaturated-cyan);
  --light-text-color: var(--dark-moderate-cyan);
}

.topic__job--second {
  background-image: url("images/mobile/image-photography.jpg");
  --bold-text-color: var(--dark-blue);
  --light-text-color: var(--dark-blue);
}

.topic__texts--job {
  align-self: end;
}

.testimonials {
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.testimonials__tittle {
  font-family: var(--font1);
  color: var(--grayish-blue);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.testimonials__container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  gap: 5rem;
}

.testimonial__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.testimonial__img {
  display: inline-block;
  width: 100px;
  border-radius: 50%;
}

.testimonial__paragraph {
  color: var(--very-dark-grayish-blue);
  font-size: 1.1rem;
  line-height: 2rem;
}

.testimonial__name {
  font-family: var(--font1);
  color: var(--very-dark-desaturated-blue);
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonial__position {
  font-family: var(--font2);
  color: var(--grayish-blue);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__item {
  width: 100%;
  aspect-ratio: 1/1;
  background-image: url("images/mobile/image-gallery-milkbottles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.gallery__item:nth-of-type(2) {
  background-image: url("images/mobile/image-gallery-orange.jpg");
}

.gallery__item:nth-of-type(3) {
  background-image: url("images/mobile/image-gallery-cone.jpg");
}

.gallery__item:nth-of-type(4) {
  background-image: url("images/mobile/image-gallery-sugar-cubes.jpg");
}

.footer {
  background-color: #90d4c5;
  text-align: center;
}

.footer__logo {
  width: 200px;
}

/* Se da un ancho del 90% del padre pero con un limite, y un flex */
.footer__links {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 3rem 0 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link__item {
  color: var(--dark-moderate-cyan);
  text-decoration: none;
}

/* max-content ayuda a que las columnas generadas automaticamente tomen el tamano necesario para su contenido */
.footer__social {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.social__icon {
  display: block;
}

@media (min-width: 768px) {
  .header {
    background-image: url("images/desktop/image-header.jpg");
  }

  .nav__hamburguer {
    display: none;
  }

  .nav__links {
    display: flex;
    grid-auto-flow: column;
    align-items: center;
    gap: 1.5rem;
  }

  .topics {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 600px);
    grid-template-areas:
      "text1 img1"
      "img2 text2"
      "job1 job2";
  }

  .topic__image {
    grid-area: img1;
  }

  .topic__image--second {
    grid-area: img2;
  }

  .topic__tittle {
    margin-right: auto;
    font-size: 2.7rem;
  }

  .topic__tittle--job {
    margin-right: unset;
  }

  .topic__texts {
    grid-area: text1;
    text-align: left;
    padding: 90px;
    width: 90%;
  }

  .topic__texts--second {
    grid-area: text2;
  }

  .topic__job {
    grid-area: job1;
    background-image: url("images/desktop/image-graphic-design.jpg");
  }

  .topic__job--second {
    grid-area: job2;
    background-image: url("images/desktop/image-photography.jpg");
  }

  .topic__texts--job {
    text-align: center;
    width: 80%;
    padding-bottom: unset;
  }

  .topic__cta {
    margin-right: auto;
  }

  .testimonials__tittle {
    font-size: 1.5rem;
    margin-top: 80px;
  }

  .testimonials__container {
    flex-direction: row;
    margin: 80px auto 0;
    width: 90%;
    gap: 2rem;
  }

  .testimonial__item {
    gap: 4rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: unset;
    grid-auto-flow: column;
  }

  .gallery__item {
    aspect-ratio: 1/1.2;
    background-image: url("images/desktop/image-gallery-milkbottles.jpg");
  }

  .gallery__item:nth-of-type(2) {
    background-image: url("images/desktop/image-gallery-orange.jpg");
  }

  .gallery__item:nth-of-type(3) {
    background-image: url("images/desktop/image-gallery-cone.jpg");
  }

  .gallery__item:nth-of-type(4) {
    background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
  }

}
